<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css">
    <title>BIKE SHARE</title>
  </head>
  <body>
    <header>
      <h3>BIKE SHARE - FABULOUS 4</h3>
    </header>
    <%= yield %>
  </body>
</html>
